body {
    height: 100vh;
    background: linear-gradient( rgb(153, 196, 1) 70%, rgb(115, 237, 190));
}
h1 {
    color: white;
    font-size: 10rem;
  }

  body {
    justify-content: center;
  }
.name {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.nav {
    position: fixed;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}